body {
  background-color: #eee;
}
.header{
  width: 100%;
  height:15%;
  background: #3B4043;
  }
.signin_logo{
  display: block;padding: 23px 100px;
}
.content{
  width: 100%;
  height: 75%;
  background:url(/Public/img/sign_bg.jpg) no-repeat;
  background-size: cover;
}
.content-box{
  padding: 125px 0 125px 800px;
}
.signin{
  border:2px solid #FF4A6D;
  width: 400px;
  height: 300px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-head h3{
  font-size: 20px;
  display: inline-block;
}
.form-head .login{
  margin-left: 100px;
}
.form-head .login a,.forget a{
  color: #FF4A6D;
  text-decoration: none;
}
.form-signin .form-head .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.forget{
  margin-left: 120px;
}
.submit_button{
  background-color:#FF4A6D;
  border:1px solid #FF4A6D;
  }
  .submit_button:hover{
    background-color: #FD204B;
    border:1px solid #FD204B;
  }
.footer{
  width: 100%;
  height: 10%;
  background:#2D3333;
}
.footer-content{
  width: 960px;
  margin: 0 auto;
  height: 100px;
  padding: 35px 0;
}
.footer-content li{
  float: left;
  list-style: none;
  width: 100px;
  margin-right:30px;
  height: 30px;
  text-align: center;
}
.footer-content li a{
  color: white;
  display: block;
  line-height: 30px;
}